.cart-container {
  
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .item-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    margin-left: auto;
    margin-right: auto;
  }
 
  .picture {
    max-width: 50%;
    max-height: 50%;    
    margin-right: 10px;
  }
  .info-container {
    display: flex;
    flex-grow: 1;
    width:100%;
    justify-content: space-between;
  }
  .quantitybuttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
  }
  .foo{
    border-radius: 50%;
    border-color: aqua;
    background-color: var(--color-white);
  }



  .item-name {
    font-size: 30px;
    margin-bottom: 5px;
  }




  .item-quantity {
    margin: 0 10px;
  }
 